[Unit]
Description=Lomorage maintenance and update check
After=network-online.target lomod.service
Wants=network-online.target

[Service]
Type=oneshot
Environment=DEBIAN_FRONTEND=noninteractive
ExecStart=/opt/lomorage/bin/update-lomod
